body{
    height: 100vh;
    margin: 0;
    display: grid;
    place-items: center;
    font-family: 'Courier New', Courier, monospace;
}

.random-password-generator-container{
    background-color: pink;
    padding: 30px 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgb(180, 180, 180);
    animation: 400ms ease 0s container-appearing-anim;

    & h1{ font-size: 170%; }

    & .password-container{
        background-color: pink;
        width: 550px;
        padding: 10px 1px 10px 10px;
        border: 2px solid black;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 170%;
        color: gray;

        & button{
            background-color: pink;
            border: none;
            cursor: pointer;
            color: gray;
            font-size: 150%;

            &:hover{ color:black; }
        }
    }

    & #generate-Btn{
        background-color: black;
        width: 30%;
        padding: 7px 0;
        margin-top: 15px;
        border-radius: 5px;
        cursor: pointer;
        color: white;
        font: 150% 'Courier New', Courier, monospace;

        &:hover{ background-color: green; }
    }
}
@keyframes container-appearing-anim{
    from{
        transform: translateY(50px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

.message{
    padding: 10px 20px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    border-radius: 10px;
    font-size: 130%;
}
.error-message{
    background-color: rgb(255, 186, 197);
    border: 2px solid red;
}
.success-message{
    background-color: rgb(154, 250, 154);
    border: 2px solid green;
}

.message-appear-animation{ animation: 400ms ease 0s messageAppear; }
@keyframes messageAppear{
    from{ right: -500px }
    to{ right: 20px; }
}

.message-disappear-animation{ animation: 400ms ease 0s messageDisappear; }
@keyframes messageDisappear{
    from{ right: 20px }
    to{ right: -500px; }
}